
.profile-container {
       height: 800px;
       margin: 0;
       background: rgb(2,0,36);
       background: white;
       
     }
     .qcard {
       height: 400px;
       width: 320px;
       background-color: rgba(255, 255, 255, 0.25);
       backdrop-filter: blur(40px);
       position: absolute;
       margin: auto;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       border-radius: 25px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
       font-family: "Poppins", sans-serif;
     }
     .qcard-img {
       height: 120px;
       width: 120px;
       background-color: rgba(255, 255, 255, 0.06);
       backdrop-filter: blur(20px);
       position: absolute;
       margin: 30px auto 20px auto;
       left: 0;
       right: 0;
       border-radius: 50%;
     }
     .qcard-img img {
       height: 86%;
       border-radius: 50%;
       margin-left: 7%;
       margin-top: 7%;
     }
     .qdesc {
       width: 100%;
       text-align: center;
       position: absolute;
       top: 160px;
     }
     .qprimary-text {
       color: #000000;
       font-size: 16px;
       font-weight: 600;
       letter-spacing: 0.7px;
       margin: 5px 0;
     }
     .qsecondary-text {
       color: #000000;
       font-weight: 400;
       font-size: 14px;
       letter-spacing: 1px;
       margin: 5px 0;
     }
     .qdetails {
       display: grid;
       width: 100%;
       height: 70px;
       grid-template-columns: auto auto;
       position: absolute;
       bottom: 0;
       background-color: rgba(255, 255, 255, 0.06);
       backdrop-filter: blur(20px);
       border-radius: 0 0 25px 25px;
       padding: 5px 0;
     }
     .qdetails > div {
       text-align: center;
     }
     .qdetails > div:first-child {
       border-right: 2px solid rgba(255, 255, 255, 0.08);
     }
     #qbutton {
       background-color: rgba(255, 255, 255, 0.06);
       backdrop-filter: blur(20px);
       position: absolute;
       width: 80%;
       left: 10%;
       top: 240px;
       border: none;
       border-radius: 25px;
       padding: 15px 0;
     }
     