html {
    font-size: 16px;
}

:root {
    --brand_blue: #4256C0;
    --white: #ffffff;
    --grey: #8c8c8c;
    --grey_light: #b7b7b7;
    --grey_lighter: #f8f8f8;
    
    font-family: 'Roboto', sans-serif;
}
::placeholder {
    color: var(--grey_light);
    font-weight: 400;
}

div > label{
    font-weight: 400; 
    font-size: 0.75rem; 
    padding: 0.5rem;
    color: var(--grey);
    text-transform: uppercase;
}

div > input, div > select{
    box-sizing: border-box;
    padding:0.5rem; 
    font-size: 0.875rem;
    line-height: 1rem; 
    border: 1px solid var(--grey_light); 
    border-radius: 3px; 
    color: var(--brand_blue); 
    font-weight: 400;
}
button {
    height: 3rem;
    color: var(--white);
    background-color: var(--brand_blue);
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    width: 475px;
}

h1{
    color: var(--white);
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #4256C0;
}
p{
    color: var(--white);
    padding: 0.5rem 0 0 0;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
}
        
select > option{
    color: var(--brand_blue); 
}

#title{
    background-color: #4256C0;
    margin-left: 300px;
}




.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }


  .paymentLoader{
    position:absolute;
    top: 300px;
    left: 680px;
    
  }
  .blured{
    filter: blur(5px); /* Adjust the blur amount as needed */
    pointer-events: none; /* Prevents mouse interaction with the blurred elements */
  }